################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/font-awesome-4.1.0/scss
/font-awesome-4.1.0/less
